@import '/public/css/variables';

.mobNavList {
  li {
    padding-right: 2px;
    a {
      width: 100%;
      &.active {
        color: $secondarycolor;
        border-right: 4px solid $secondarycolor;
      }
    }
  }
}